<p id="notice"><%= notice %></p>

<div class="container">
     <%= cl_image_tag @recipe.photo, height: 200, width: 200, crop: :fill %>

    <div class="recipe_info">
     <h2><%= @recipe.title %></h2>
     <p><%= @recipe.description %></p>
    </div>


  <h2>Ingredients</h2>
  <ul>
    <%= @recipe.ingredients.each do |ingredient| %>
   <li> <%= ingredient.name %></li>
  </ul>
    <%end%>



  <h2>Directions</h2>
  <ul>
    <%= @recipe.directions.each do |direction| %>
   <li> <%= direction.step %></li>
  </ul>
  <%end%>

<br>
<br>

 <div class="options">

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete',recipe_path(@recipe.id), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?" %>
<%= link_to 'Back', recipes_path %> |

</div>
</div>





