<p id="notice"><%= notice %></p>

<%= cl_image_tag @recipe.photo, height: 200, width: 200, crop: :fill %>
<h2>
  <%= @recipe.title %>
</h2>

<p>
  <%= @recipe.description %>
</p>

<br>

<br>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Delete',recipe_path(@recipe.id), 'data-method' => :delete, :class => "delete", :confirm => "Are you sure ?" %>
<%= link_to 'Back', recipes_path %> |

